<p>Index webpage</p>

<!-- Add a svg area, empty -->
<svg class="target">
  <circle style="fill: #69b3a2" stroke="black" cx=50 cy=50 r=40></circle>
</svg>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="/public/javascripts/"></script>